
<ion-grid id ="main">
  
  <ion-row id ="header">
    <div>
      <div>
        <h6 class="header-content">Department of Education</h6>
        <h6 class="header-content">Region IV-A CALABARZON</h6>
        <h3 class="header-title">Conde Labac Integrated School</h3>
        <h6 class="header-content">Conde Labac, Batangas City</h6>
     </div>
    </div>

  </ion-row>


  <ion-row id ="logo-row">
    <ion-img src ="../../assets/image/logo.png"></ion-img>
  </ion-row>

  <ion-row id ="button-row">
    <ion-button (click) = "goToEnrollment()">ENROLL</ion-button>
    <ion-button (click) = "goToLogin()">LOGIN</ion-button>
  </ion-row>


</ion-grid>
