<ion-grid>

  <ion-row id ="header">
      <ion-img src ="../../assets/image/logo.png"> </ion-img>
      <h6> ENROLLMENT </h6>
  </ion-row>

  <ion-row id = "year">
    <ion-label>Year: </ion-label>
    <p>S.Y 2023-2024 (1st Sem)</p>
  </ion-row>

  <ion-row id = "name">
      <ion-label>Name: </ion-label>
      <p> Jasmine Ramos</p>
  </ion-row>

  <ion-row id = "grade">
    <ion-label>Grade: </ion-label>
    <p> Grade 10</p>
  </ion-row>
  <ion-row id = "lrn">
    <ion-label>LRN: </ion-label>
    <p> 1111222233334444</p>
  </ion-row>

  <ion-row id = "subjects">
    <h5>SUBJECTS:</h5>
  </ion-row>

  <ion-row id ="math" >
    <ion-col>Mathematics</ion-col>
    <ion-col>
       <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="eng">
    <ion-col>English</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="science">
    <ion-col>Science</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="filipino">
    <ion-col>Filipino</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="mapeh">
    <ion-col>MAPEH</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="esp">
    <ion-col>Edukasyon Sa Pagpapakatao</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="tle">
    <ion-col>TLE</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>

  <ion-row id ="ap">
    <ion-col>Araling Panlipunan</ion-col>
    <ion-col>
      <ion-button> Add Subject</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>