.weekdays{
    padding: 10px;
    font-size: x-large;
    font-style: italic; 
}

.english{
    border-style: hidden hidden hidden solid;
    border-color: red;
    padding-left: 20px;
}

.math{
    border-style: hidden hidden hidden solid;
    border-color: purple;
    padding-left: 20px;
}

.break{
    border-style: hidden hidden hidden solid;
    border-color: yellow;
    padding-left: 20px;
}

.filipino{
    border-style: hidden hidden hidden solid;
    border-color: blue;
    padding-left: 20px;
}

.lunch{
    border-style: hidden hidden hidden solid;
    border-color: green;
    padding-left: 20px;
}

.computer{
    border-style: hidden hidden hidden solid;
    border-color: pink;
    padding-left: 20px;
}

.science{
    border-style: hidden hidden hidden solid;
    border-color: grey;
    padding-left: 20px;
}