<ion-content id ="main" padding class ="background">
    <ion-grid>

      <ion-row id = "profile">
          <h4>Account</h4>
          <ion-img id ="image" src = "assets/img.jpg"> </ion-img>
          <ion-label id = "lrn">LRN: 324543564353</ion-label>
      </ion-row>


      <ion-row>
        <div>
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Jasmine Ramos</ion-label>
        </div>
      </ion-row>


      <ion-row>
        <div>
          <ion-icon name="desktop-outline"></ion-icon>
          <ion-label>Enrolled 2nd Sem</ion-label>
        </div>
      </ion-row>


      <ion-row>
        <div>
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Information Communiction Technology</ion-label>
        </div>
      </ion-row>

      <ion-row>
        <div>
          <ion-icon name="analytics-outline"></ion-icon>
          <ion-label>Grade 12</ion-label>
        </div>
      </ion-row>

      <ion-row>
        <div>
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>+639433254321</ion-label>
        </div>
      </ion-row>

      <ion-row>
        <div>
          <ion-icon name="location-outline"></ion-icon>
          <ion-label>Lemery, Batangas</ion-label>
        </div>
      </ion-row>

      <ion-row>
        <div>
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-button (click) ="goToHome()">Logout</ion-button>
        </div>
      </ion-row>

    </ion-grid>
</ion-content>